*
  box-sizing: border-box
  
body 
  font-family: 'Roboto', sans-serif

img
  max-width: 100%

a 
  text-decoration: none
  outline: none
  cursor: pointer

.container 
  max-width: 1200px
  margin: auto

.button 
  outline: none
  cursor: pointer
  text-transform: uppercase
  color: #ffffff
  font-weight: 500


.input 
  outline: none
  background-color: #ffffff
  box-shadow: inset 1px 3px 7px rgba(0, 0, 0, 0.35)
  border: 1px solid transparent
  padding: 24px
  font-size: 20px
  width: 100%


.title 
  font-family: 'Bebas Neue Regular'
  font-size: 36px
  line-height: 40px
  letter-spacing: 1.8px
  text-transform: uppercase
  text-align: center

.list 
  padding: 0
  list-style: none

.text 
  &_yellow 
    color: #ffcb00



@media (max-width: 1250px)
  .container 
    max-width: 980px

@media (max-width: 1000px)
  .container 
    max-width: 768px

// @media (max-width: 800px)
//   .container 
//     max-width: 768px

// HOVER ЭФФЕКТЫ 
@media (min-width: 992px)
  .info
    &-rating
      &__button 
        &:hover 
          background-color: #ffcc00
  
  .hero 
    &__button 
      &:hover 
        background-color: #ffaa00
  
