.hero 
  &-wrap 
    position: relative
    display: flex
    flex-direction: column 
    align-items: center
  &-clock 
    display: flex
    justify-content: center
    align-items: flex-start
    margin-top: -75px
    padding-left: 30px
    z-index: 2
    margin-bottom: 12px
  &-sale 
    position: absolute
    top: 7%
    left: -21%
    &__text 
      position: absolute
      top: 47%
      left: 44%
      color: #ffffff
      font-size: 29px
      font-weight: 400
  &-hit 
    position: absolute
    top: 0
    left: -48%
    &__text 
      position: absolute
      top: 28%
      left: 32% 
      color: #ffffff
      font-size: 22px
      font-weight: 400
  &-price 
    width: 440px
    position: absolute
    top: 49%
    &_before, &_after 
      text-shadow: 1px 3px 6px rgba(0, 0, 0, 0.49)
      color: #ffffff
      font-size: 25px
      font-weight: 400
      text-transform: uppercase
      position: absolute
      top: 25%
    &_before 
      left: 7%
      &:before 
        content: ''
        position: absolute
        bottom: 15px
        left: -10px
        z-index: 1
        display: block
        width: 142px
        height: 3px
        background-color: #fff
    &_after 
      right: 8%
  &__button 
    display: flex
    padding: 20px 60px
    background-color: #ffcc00
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.46)
    font-size: 32px
    border: none
  &-quality 
    position: absolute
    bottom: -7%
    left: -40%
    img 
      margin-right: 23px
  &-countdown 
    position: absolute
    bottom: 60px
    display: flex
    flex-direction: column
    align-items: center
    margin-bottom: 22px


@media (max-width: 1000px)
  .hero
    &-clock 
      margin-top: 0
    &__button 
      display: none
    &-countdown 
      display: none
    &-sale
      top: 20%
      left: 3%
    &-hit 
      top: 0
      left: -10%
    &-price
      top: 62%
    &-quality 
      display: flex
      flex-direction: column
      bottom: 70%
      left: 86%
      img 
        margin-bottom: 10px

@media (max-width: 768px)
  .hero 
    &-sale 
      left: -15%
    &-quality
      img 
        margin-right: 0

@media (max-width: 576px)
    .hero 
      &-quality
        bottom: 67%
        left: 80%
  
@media (max-width: 450px)
    .hero 
      &-hit 
        max-width: 200px
        &__text 
          font-size: 20px
          left: 25%
      &-sale 
        max-width: 300px
        left: -30%
      &-price 
        top: 60%
        max-width: 350px
        &_before, &_after 
          font-size: 20px
        &_before 
          &:before 
            width: 120px
            height: 3px
            bottom: 10px
      &-quality 
        bottom: 60%

@media (max-width: 356px)
    .hero 
      &-clock 
        margin-top: 10px
      &-hit 
        left: -20%
      &-sale 
        max-width: 250px
        left: -35%
        top: 12%
        &__text 
          font-size: 20px
      &-price 
        max-width: 300px
      // &-quality 
      //   bottom: -55%
  





    
